<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>${it.title.value}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache,no-store,must-revalidate">
	</head>
	<body>
		<div id="headerMenu">
			<ul>
				<li>
					<a href="/${it.contextRoot}">トップ</a>
				</li>
			</ul>
		</div>
		<div id="content">
			#parse(${it.contentPath})
		</div>
		<div id="footerMenu">
			フッター
		</div>
	</body>
</html>